*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #61e6df;
	
}
/*.activity{
    background: #61e6df;
}*/
h1{
	color: red;
    
	font-weight: bold;
	transition: 0.5s;
    
}
h2{
	color: #b93f29;
    
	font-weight: bold;
	
    
}
h3{
	color:#b93f29;
}
button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#4f34c9; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}

footer{
	color:#587676;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	
	.act{
		padding-bottom: 100px;
	}
}
/* contact Section */
.contact {
	flex-direction: row;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
	margin: 30px;
    
}
.contact-items {
	/* max-width: 400px; */
	width: 50%;
}
.contact-item {
	width: 200%;
	padding: 20px;
	text-align: left;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	box-shadow: 0px 0px 18px  rgb(0, 255, 242);
    background: lightcyan;
	transition: 0.3s ease box-shadow;
}
.contact-item:hover {
	box-shadow: 0px 0px 5px 0 #fcf6f62c;
}
.icon {
	width: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.contact-info h3 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
.contact-info h4 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */